extends layout

block content
  h1= title
  - let results = [{name: "Maldives", location: "South Asia", rating: 4.9},{name: "Bora Bora", location: "France", rating: 4.8},{name: "Maui", location: "USA", rating: 4.7}]
  div(class="container-fluid")
    div(class="row")
      each dreamdestination,index in results
        div(class="col-sm-2")
          h4 Destination #{index + 1}
          p #{dreamdestination.name} - #{dreamdestination.location} - #{dreamdestination.rating}
          div(onclick=`buy(${index})`, class="btn btn-primary") Buy
  
  script. 
    function buy(index) {
      alert(`You purchased item ${index + 1}`);
    }